<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Character</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/logout" class="navlink"><p>LOGOUT</p></a>
    <a href="/lobby" class="navlink"><p>PLAY</p></a>
    <a href="/maker" class="navlink"><p>ARMORY</p></a>
  </nav>
  <section id="domos">
    <div class="domo">
      {{#if board}}
        {{#each board}}
          <div class="domo">
            <img src="/assets/img/warriorIcon.png" style="width:128px;height:128px;" alt="domo face" class="domoFace"/>
            <h3 class="domoName">Name: {{this.username}}</h3>
            <h3 class="domoAge">Level: {{this.level}}</h3>
            <h3 class="domoAge">Distance: {{this.maxDistance}}</h3>
          </div>
        {{/each}}
      {{else}}
        <h3 class="emptyDomo">No Domos yet</h3>
      {{/if}}
    </div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>